<h1>Sign Up</h1>

<%= form_tag "/users" do %>

  <p>Email:
    <input autofocus type="text" name="email">
  </p>
  <p>Password:
    <input type="text" name="password">
  </p>
  <button>Sign Me Up</button>
<% end %>
